:root {
  --dark-bg: #121212;
  --light-bg: #1E1E1E;
  --off-white: #fcfaf7;
  --white: #ffffff;
  --yellow: #F6E05E;
  --green: #48BB78;
  --pink: #ED64A6;
  --transparent-white: rgba(255, 255, 255, 0.1);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Heebo', sans-serif;
  color: var(--off-white);
  background-color: var(--dark-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#splash-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

.logo-container {
    position: relative;
    width: 150px;
    height: 150px;
    margin-bottom: 1rem;
}

.moon-icon {
    font-size: 120px;
    position: absolute;
    top: 0;
    left: 15px;
    /* make it slightly transparent yellow */
    color: var(--yellow);
    opacity: 0.8;
    transform: rotate(-20deg);
}

.cat-icon {
    font-size: 50px;
    position: absolute;
    bottom: 10px;
    left: 25px;
    animation: cat-peek 3s ease-in-out infinite alternate;
}

.splash-title {
    font-size: 4rem;
    color: var(--yellow);
    margin-bottom: 2rem;
}

#start-btn {
    background-color: var(--pink);
    color: var(--white);
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}

#start-btn:hover {
    transform: scale(1.05);
    background-color: #d05d92; /* Darker pink */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes cat-peek {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
